.page {
	background: #fff;
	margin-top: -80px;
	  .hero-unit {
        display: flex;
        flex: 0 1 auto;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 250px;
    }
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 580px;
        z-index: 1;
        .background {
            background: url(vintage_camera.jpg) center center no-repeat;
            background-size: cover;
            @include absolute(0,0,0,0);
            z-index: 1;
        }
        .background::after {
            content: '';
            @include absolute(0,0,0,0);
            background: rgba(0,0,0, 0.4);
        }
        .hero-unit {
            margin-bottom: -20px;
            z-index: 2;
        }
        .hero-subunit {
            z-index: 2;
        }
        h1 {
            font-size: 7em;
            color: #ffffff;
            font-family: 'Nickainley';
            @include font-base-mixin;
        }
        h4 {
            color: #ffffff;
            font-weight: 400;
        }
        @media screen and (max-width: 960px) {
            padding: 24px;
            text-align: center;
            h1 {
                font-size: 12vmax;
            }
        }
    }
    main {
        display: flex;
        flex-flow: row wrap;
        min-width: 960px;
        max-width: 960px;
        margin: 0 auto;
        padding: 96px 0;


        @media screen and (max-width: 960px) {
            min-width: 100%;
            max-width: 100%;
            padding: 48px 24px;
        }

        section {
            width: 100%;
        }
	}

		section.centered-with-image {
				text-align: center;
				.inner {
						padding-top: 100px;
						display: inline-block;
						max-width: 600px;
						position: relative;
				}
				.inner::after {
						content: '';
						@include absolute(0,auto,auto,50%);
						width: 60px;
						height: 80px;
						margin-left: -30px;
						background: url(campfire.png) center center no-repeat;
						background-size: contain;
				}
		}

		section.gallery {
				margin: 80px 0;
				.image {
						width: 100%;
						height: 400px;
				}
				.image-01 {
						background: url(interior_center.jpg) bottom center no-repeat;
						background-size: cover;
				}
		}

		section.side-by-side {
				.content {
						width: 45%;
						padding: 40px 0 10px 40px;
						float: left;
				}
				.image {
						float: right;
						width: 45%;
						height: 480px;
						background: url(sketch-closet.jpg) center center no-repeat;
						background-size: contain;
				}

				@media screen and (max-width: 580px) {
						.content {
								width: auto;
								padding: inherit;
								float: none;
								text-align: center;
						}
						.image {
								display: none;
						}
				}
		}



        section.history {
            margin: 80px 0 0 0;
            text-align: center;
            .inner {
                position: relative;
                padding-bottom: 160px;
                &:after {
                    content: '';
                    width: 2px;
                    background-color: #000000;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    margin-left: -1px;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }

            .label-point {
                font-size: 10px;
                background: #000000;
                color: #ffffff;
                border-radius: 100%;
                display: inline-block;
                width: 70px;
                height: 70px;
                line-height: 70px;
                z-index: 5;
                position: relative;
            }

            .timeline-item {
                border-radius: 7px;
                width: 50%;
                margin: -20% 0 20px 0;
                position: relative;
                @media screen and (max-width: 768px) {
                    margin-top: 20px;
                    width: 100%;
                }
                &:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: #000000;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
                .item-inner {
                    padding-right: 20px;
                }
                .content {
                    padding: 20px;
                    text-align: left;
                    background: #eeeeee;
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;
                }
                .image {
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                    width: 100%;
                    height: 300px;
                    background: url(trailer-base.jpg) center center no-repeat;
				    background-size: cover;
                }
                .title {
                    font-family: 'Raleway-Medium';
                    text-transform: uppercase;
                    font-size: 1.55em;
                    letter-spacing: 3px;
                }
            }

            .timeline-item.item-01 {
                margin-top: 80px;
            }


            .left-item {
                &:after {
                    right: -5px;
                }
                .item-inner {
                    padding-right: 20px;

                }
            }

            .right-item {
                margin-left: 50%;
                @media screen and (max-width: 768px) {
                    margin-left: 0;
                }
                &:after {
                    left: -5px;
                }
                .item-inner {
                    padding-left: 20px;
                    @media screen and (max-width: 768px) {
                        padding-left: 0;
                    }
                }
            }
        }
}