.page.restoration {
  header {

        .background {
            background: url(david-camper.jpg) top center no-repeat;
            background-size: cover;
        }

    }
  section.centered-with-image {
      .inner::after {
          background: url(comet-logo.svg) center center no-repeat;
          background-size: contain;
          width: 200px;
          height: 85px;
          margin-left: -100px;
      }
  }
  section.gallery {
      .image-01 {
          background: url(finishes.jpg) center center no-repeat;
          background-size: cover;
      }
  }
  section.side-by-side {
      .image {
          height: 480px;
          background: url(trailer-base.jpg) center center no-repeat;
          background-size: contain;
      }

	}

    section.history {
        .timeline-item {
            &.exterior-before .image {
                background: url(IMG_0497.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.interior-before .image {
                background: url(IMG_0156.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.road-ready .image {
                background: url(IMG_0567.jpg) center center no-repeat;
                background-size: cover;
                height: 600px;
            }
            &.tear-down .image {
                background: url(IMG_0318.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.foundation .image {
                background: url(IMG_0258.jpg) center center no-repeat;
                height: 600px;
                background-size: cover;
            }
            &.wheelwell .image {
                background: url(IMG_0141.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.reinforce .image {
                background: url(IMG_0579.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.wall-rebuild .image {
                background: url(IMG_0107.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.roof-rebuild .image {
                background: url(IMG_0513.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.cabinets .image {
                background: url(IMG_0240.jpg) center center no-repeat;
                height: 600px;
                background-size: cover;
            }
            &.interior-paint .image {
                background: url(IMG_0314.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.electrical .image {
                background: url(IMG_0201.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.flooring .image {
                background: url(IMG_0030.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.windows .image {
                background: url(IMG_0152.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.counter-tops .image {
                background: url(IMG_0099.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.insulation .image {
                background: url(IMG_0661.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.tounge-box .image {
                background: url(IMG_0037.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.storage .image {
                background: url(IMG_0118.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.polish .image {
                background: url(IMG_0512.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.details .image {
                background: url(IMG_0594.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.door .image {
                background: url(IMG_0598.jpg) center center no-repeat;
                height: 600px;
                background-size: cover;
            }
            &.taillights .image {
                background: url(IMG_0410.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            &.testrun .image {
                background: url(IMG_0430.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
        }
    }
}