.page.restoration {
    header {

        .background {
            background: url(david-camper.jpg) top center no-repeat;
            background-size: cover;
        }

    }
    section.centered-with-image {
      .inner::after {
          background: url(comet-logo.svg) center center no-repeat;
          background-size: contain;
          width: 200px;
          height: 85px;
          margin-left: -100px;
      }
    }
    section.gallery {
      .first {
          background: url(finishes.jpg) center center no-repeat;
          background-size: cover;
      }
    }

    section.history {
        .carousel-inner {
            background: #dddddd;
            position: relative;
            height: 280px;
            overflow: hidden;
            &[data-index="0"] {
                .image:nth-child(1) {
                    opacity: 1;
                }
            }
            &[data-index="1"] {
                .image:nth-child(2) {
                    opacity: 1;
                }
            }
            &[data-index="2"] {
                .image:nth-child(3) {
                    opacity: 1;
                }
            }
            &[data-index="3"] {
                .image:nth-child(4) {
                    opacity: 1;
                }
            }
            &[data-index="4"] {
                .image:nth-child(5) {
                    opacity: 1;
                }
            }
            &[data-index="5"] {
                .image:nth-child(6) {
                    opacity: 1;
                }
            }
            &[data-index="6"] {
                .image:nth-child(7) {
                    opacity: 1;
                }
            }
            &[data-index="7"] {
                .image:nth-child(8) {
                    opacity: 1;
                }
            }
        }
        .image {
            @include absolute(0,0,0,0);
            opacity: 0;
            transition: opacity 1s linear;
        }
        .timeline-item {
            .image-exterior-before {
                background: url(IMG_0497.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-exterior-before-1 {
                background: url(IMG_0109.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-exterior-before-2 {
                background: url(IMG_0154.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-interior-before {
                background: url(IMG_0262.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-interior-before-1 {
                background: url(IMG_0438.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-road-ready {
                background: url(IMG_0263.jpg) center center no-repeat;
                background-size: cover;
                //height: 600px;
            }
            .image-road-ready-1 {
                background: url(IMG_0362.jpg) center center no-repeat;
                background-size: cover;
                //height: 600px;
            }
            .image-road-ready-2 {
                background: url(IMG_0359.jpg) center center no-repeat;
                background-size: cover;
                //height: 600px;
            }
            .image-tear-down {
                background: url(IMG_0271.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-tear-down-1 {
                background: url(IMG_0644.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-tear-down-2 {
                background: url(IMG_0275.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-foundation {
                background: url(IMG_0569.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-foundation-1 {
                background: url(IMG_0474.jpg) center center no-repeat;
                //height: 600px;
                background-size: contain;
            }
            .image-wheelwell {
                background: url(IMG_0375.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-wheelwell-1 {
                background: url(IMG_0141.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-wheelwell-2 {
                background: url(IMG_0083.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-reinforce {
                background: url(IMG_0396.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-reinforce-1 {
                background: url(IMG_0223.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-wall-rebuild {
                background: url(IMG_0235.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-wall-rebuild-1 {
                background: url(IMG_0538.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-wall-rebuild-2 {
                background: url(IMG_0107.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-roof-rebuild {
                background: url(IMG_0532.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-roof-rebuild-1 {
                background: url(IMG_0398.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-roof-rebuild-2 {
                background: url(IMG_0488.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-roof-rebuild-3 {
                background: url(IMG_0005.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-cabinets {
                background: url(IMG_0456.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-cabinets-1 {
                background: url(IMG_0284.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-cabinets-2 {
                background: url(IMG_0314.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-interior-paint {
                background: url(IMG_0118.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-interior-paint-1 {
                background: url(IMG_0228.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-electrical {
                background: url(IMG_0028.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-electrical-1 {
                background: url(IMG_0132.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-electrical-2 {
                background: url(IMG_0201.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-flooring {
                background: url(IMG_0219.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-flooring-1 {
                background: url(IMG_0126.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-flooring-2 {
                background: url(IMG_0238.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-windows {
                background: url(IMG_0089.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-windows-1 {
                background: url(IMG_0609.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-counter-tops {
                background: url(IMG_0099.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-counter-tops-1 {
                background: url(IMG_0123.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-insulation {
                background: url(IMG_0250.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-insulation-1 {
                background: url(IMG_0604.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-tounge-box {
                background: url(IMG_0301.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-tounge-box-1 {
                background: url(IMG_0188.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-tounge-box-2 {
                background: url(IMG_0543.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-storage {
                background: url(IMG_0118.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-storage-1 {
                background: url(IMG_0439.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-polish {
                background: url(IMG_0512.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-polish-1 {
                background: url(IMG_0312.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-details {
                background: url(IMG_0594.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-details-1 {
                background: url(IMG_0232.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-details-2 {
                background: url(IMG_0019.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-details-3 {
                background: url(IMG_0470.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-details-4 {
                background: url(IMG_0248.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-door {
                background: url(IMG_0346.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-door-1 {
                background: url(IMG_0558.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-door-2 {
                background: url(IMG_0506.jpg) center center no-repeat;
                //height: 600px;
                background-size: contain;
            }
            .image-door-3 {
                background: url(IMG_0573.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-taillights {
                background: url(IMG_0011.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-taillights-1 {
                background: url(IMG_0455.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-taillights-2 {
                background: url(IMG_0410.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-testrun {
                background: url(IMG_0430.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
            .image-testrun-1 {
                background: url(IMG_0163.jpg) center center no-repeat;
                //height: 600px;
                background-size: cover;
            }
        }
    }
}